<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path, data: { turbo: false } do |form| %>
  <% if @user.errors.any? %>
    <%= render partial: 'errors', locals: { user: @user } %>
  <% end %>

  <div>
    <div class="d-flex flex-column mb-3">
      <%= form.label :email, "Email"%>
      <%= form.text_field :email, class: "form-control", placeholder: "email@test.com" %>
    </div>

    <div class="d-flex flex-column mb-3">
      <%= form.label :password, "Password"%>
      <%= form.password_field :password, class: "form-control", placeholder: "password"%>
    </div>

    <div class="d-flex flex-column mb-3">
      <%= form.label :password_confirmation, "Password confirmation"%>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Sign Up", class: "rounded btn btn-primary"%>
    </div>
  </div>

<%end%>
