<h1>Edit Password</h1>

<%= form_with model: Current.user, url: edit_password_path, data: { turbo: false } do |form| %>
  <% if form.object.errors.any? %>
    <%= render partial: 'errors', locals: { form: form.object } %>
  <% end %>

  <div>
    <div class='d-flex flex-column mb-3'>
      <%= form.label :password, 'Password'%>
      <%= form.password_field :password, class: 'form-control', placeholder: 'password'%>
    </div>

    <div class='d-flex flex-column mb-3'>
      <%= form.label :password_confirmation, 'Password confirmation'%>
      <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
    </div>

    <div class='mb-3'>
      <%= form.submit 'Change Password', class: 'rounded btn btn-primary'%>
    </div>
  </div>

<%end%>
